---
import Image from "astro/components/Image.astro";
import Pill from "./Pill.astro";
interface Props {
  num: number;
  repo: string;
  demo: string;
  tags: string[];
  title: string;
  image: string;
  description: string;
}

const { repo, demo, title, description, image, tags, num } = Astro.props;
---

<li class="link-card">
  <article>
    <header>
      <span>#{num}</span>
      <figure>
        <a href={demo} target="_blank">
          <Image width={100} height={100} src={image} alt={description} />
        </a>
      </figure>
    </header>
    <div class="info-container">
      <section class="info">
        <h2>{title}</h2>
        <p>{description}</p>
      </section>

      <div>
        <section class="tags">
          {tags.map((item) => <Pill>{item}</Pill>)}
        </section>

        <section class="links">
          <a href={repo} target="_blank">Código</a>
          <a href={demo} target="_blank">Demo</a>
        </section>
      </div>
    </div>
  </article>
</li>
<style>
  .link-card {
    list-style: none;
    background-image: none;
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.3s cubic-bezier(0.22, 1, 0.36, 1);

    & article {
      display: flex;
      height: 100%;
      flex-direction: column;
    }
  }

  header {
    position: relative;
    transition: scale 0.15s;
    &:hover {
      scale: 1.05;
    }

    & span {
      position: absolute;
      font-size: 45px;
      color: rgb(var(--accent-light));
      font-weight: 700;
      top: -15px;
      left: -15px;
      transform: rotate(-15deg);
      line-height: 1;
      text-shadow: 0 0 12px rgb(var(--accent-dark));
    }

    & figure {
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 7px;
      background: rgb(var(--accent-light) / 0.1);

      & img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        aspect-ratio: 16 / 9;
        object-position: center;
      }
    }
  }

  .info-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    & .info {
      & h2 {
        color: rgb(var(--accent-light));
        font-weight: 700;
      }

      & p {
        color: rgb(var(--accent-light) / 0.7);
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 8px;
    margin-bottom: 15px;
    color: rgb(var(--accent-light) / 0.8);
  }

  .links {
    display: flex;
    gap: 10px;

    & a {
      color: rgb(var(--accent-light));
      padding: 5px 12px;
      font-size: 18px;
      border-radius: 10px;
      border: 1px solid #fff;
      text-decoration: none;
    }
  }
  /* .link-card:is(:hover, :focus-within) {
    background-position: 0;
    box-shadow: 0 0 15px rgb(var(--accent));
    background-image: var(--accent-gradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent-light));
  } */
</style>
